html {
    background-image: url('../img/maddyback.jpg');
    /* background-color: lightblue; */
    background-position: center 33%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gothic A1', sans-serif;
    height: 100vw;
    min-height: 100%;
}

header {
    text-align: center;
}

#logo {
    height: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding-bottom: 15px;
}

.booking-info {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 4px;
}

#booking {
    text-align: center;
    margin-bottom: 10px;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer img {
    margin: 0 10px;
}

.social-icon {
    margin: 0 5px;
}

.social-icon:hover .social-inner {
    fill: #000000;
}

.social-icon:hover .social-outer {
    fill: #ffffff;
}

/* Media Queries */
@media (max-device-width: 820px) {
    html {
        background-position: 0% 60%;
    }

    #logo {
        height: 75px;
    }

    .booking-info {
        font-size: 24px;
    }
}

/* Don't know why these have to be done separately, this is silly */
@media (max-width: 820px) {
    html {
        background-position: 0% 60%;
    }

    #logo {
        height: 75px;
    }

    .booking-info {
        font-size: 24px;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2) and
(min-resolution: 192dpi) and
(max-device-width: 769px) { 
    #logo {
        height: 175px;
    }
    
    .social-icon {
        height: 192px;
        width: 192px;
    }

    .booking-info {
        font-size: 48px;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2) and
(min-resolution: 192dpi) and
(max-device-width: 1480px) and
(orientation: landscape) { 
    #logo {
        height: 75px;
    }
    
    .social-icon {
        height: 96px;
        width: 96px;
    }

    .booking-info {
        font-size: 24px;
    }
}